<header class="flex justify-between px-5 items-center h-20 border-b border-[#F5EAEA]">
  <img src="logo.svg" alt="" class="w-13" />

  <button
    class="flex cursor-pointer gap-2 text-[#F24D0D] rounded-xl bg-[#F5EAEA] px-4 h-10 items-center font-medium"
  >
    <img src="package.svg" alt="" />
    Produtos
  </button>

  <div class="flex items-center gap-4">
    <button
      class="bg-[#F24D0D] flex gap-2 items-center justify-between text-white h-10 px-4 rounded-[10px] font-medium text-base cursor-pointer"
    >
      <img src="plus-sign.svg" alt="" />
      Novo produto
    </button>
    <img src="user-avatar.svg" alt="" />
  </div>
</header>
